<style type="text/css">
	select{
		color: #000;
	}
</style>
<section id="hottest-tourney" class="no-padding">
	<div class="wrapper">
	    <div class="container">
	      <div class="page-header">
	        <h2>Add a new Tourney</h2>
	      </div>

			<%= render 'form' %>

			<%= link_to 'Back', tourneys_path %>
		</div>
	</div>
</section>
