<div class="tourn-list row">
	<div class="col-sm-3">
		<small>
			<%= time_ago_in_words(newest_tourney_tournaments.created_at).gsub('about','') + ' ago' %>
		</small>
	</div>
	<div class="col-sm-6">
		<span>
			<strong>
				<%= newest_tourney_tournaments.title %>
			</strong>
		</span>
	</div>
	<div class="col-sm-3">
		Los Angeles City
	</div>
</div>