<section id="hottest-tourney" class="no-padding">
	<div class="wrapper">
			<div class="container">
				<h1>Hottest Tournament</h1>
				<div class="tourn-list row">
					<div class="col-sm-3">
						3 days ago
					</div>
					<div class="col-sm-3 image">
						<%= image_tag('rails.png') %>
					</div>
					<div class="col-sm-3">
						Tapped Out Simpsons StoneCutter's Event
					</div>
					<div class="col-sm-3">
						Los Angeles City
					</div>
				</div>
			</div>
	</div>
</section>