/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.top48 { margin-top: 48px; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #404040;
}

div.wrapper{
	width: 1000px;
	margin: 0 auto;
}

.no-padding{
	padding: 0px !important;
}

#hottest-tourney{
	background-color: #BE1622;
	color: #fff;
  height: 500px;
}
#hottest-tourney h1{
	text-align: center;
}

.tourn-list{
	background: #F0F0F0;
	color: gray;
}

.tourn-list .row{
  margin: 3px;
  height: 100px;
}

.image {
  height: 50px;
  background: none no-repeat scroll center center / contain transparent;
}
