/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.top48 { margin-top: 48px; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #F5F7FA;
}

div.wrapper{
	width: 1000px;
	margin: 0 auto;
}

.time {
  float: left;
}

.no-padding{
	padding: 0px !important;
}

#hottest-tourney{
	background-color: #FFCE54;
	color: #000;
}
#hottest-tourney h1{
	text-align: center;
}

.tourn-list{
	background: #F5F7FA;
	color: gray;
  border-radius: 10px;
}
.tourn-list > div.col-sm-3{
	height: 100%;
	display: block;
}

.tourn-list .row{
  margin: 3px;
  height: 100px;
}

.tourn-list.row:hover{
  color: #F6BB42;
}

.person {
  text-align: center;
}
.person:hover{
  color: #F6BB42;
}

.tourn-listing {
    background: #F5F7FA;
    text-align: center;
}

.image {
  height: 50px;
  background: none no-repeat scroll center center / contain transparent;
}

div.tourn-list{
	margin: 10px 0px;
}

.highlight-view{
	background-color: #FFCE54;
	color: #fff;
}

div#comment_box{
	border: 2px solid #BE1622;
	width: 100px;
	margin: 20px 0px;
}
.row {
  text-align: center;
}

a {
  color: #000;
}

a:hover {
  color: #F6BB42 !important;
  text-decoration: normal;
  background-color: #e7e7e7 !important;
}

.navbar-nav > li > a:hover, {
    color: #f39c12 !important;
    background-color: transparent !important;
}

.navbar-nav > li > a:focus{
    color: #f39c12 !important;
    background-color: #e7e7e7 !important;
}
.btn-default:hover {
  color:#f39c12 !important;
  background-color: #eee;
}

#tourney_title.form-control {
  border-radius: 5px;
}

#tourney_title.form-control: hover {
  border-color: #F6BB42 !important;
}

