/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.top48 { margin-top: 48px; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #F5F7FA;
}

div.wrapper{
	width: 1000px;
	margin: 0 auto;
}

.no-padding{
	padding: 0px !important;
}

#hottest-tourney{
	background-color: #FFCE54;
	color: #fff;
}
#hottest-tourney h1{
	text-align: center;
}

.tourn-list{
	background: #dfdfdf;
	color: gray;
}
.tourn-list > div.col-sm-3{
	height: 100%;
	display: block;
}

.tourn-list .row{
  margin: 3px;
  height: 100px;
}

.image {
  height: 50px;
  background: none no-repeat scroll center center / contain transparent;
}

div.tourn-list{
	margin: 10px 0px;
}

.highlight-view{
	background-color: #BE1622;
	color: #fff;
}

div#comment_box{
	border: 2px solid #BE1622;
	width: 100px;
	margin: 20px 0px;
}
.row {
  text-align: center;
}

.col-1 {
  margin: 3px;
  height: 100px;
  float: left;
  background-color: #dfdfdf;
}
.col-2 {
  margin: 3px;
  height: 100px;
  float: right;
    background-color: #dfdfdf;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f39c12;
    background-color: transparent;
}

.btn-default:hover {
  color:#f39c12 !important;
  background-color: #eee;
}