body {
  margin: 0px;
  padding: 0px;
}
div.hottest-tourney{
	background-color: ;
}

.f-left{
	float: left;
}
.f-right{
	float: right;
}

a#logo-btn{
	padding: 10px;
}
[role="navigation"]{
	margin-bottom: 0px !important;
}
.open > .dropdown-menu{
	margin-top: 0px !important;
}
div.row.comment{
	background-color: #eee;
	margin: 10px 0px;
}
.tourney-list-casuals{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left:10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: blue;
	border-radius: 5px;	
}
.tourney-list-tournaments{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left:10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: red;
	border-radius: 5px;	
}

ul > li > a:hover, ul > li > a:active {
  color: #F6BB42 !important;
}
