@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
 body {
  margin: 0px;
  padding: 0px;
}

.f-left{
	float: left;
  text-align:center;
}
.f-right{
	float: right;
}

a#logo-btn{
	padding: 10px;
}
[role="navigation"]{
	margin-bottom: 0px !important;
}
.open > .dropdown-menu{
	margin-top: 0px !important;
}
div.row.comment{
	background-color: #eee;
	margin: 10px 0px;
}
.tourney-list-casuals{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left:10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #c9c9c9;
	border-radius: 5px;	
}
.tourney-list-tournaments{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left:10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #f5f7fa;
	border-radius: 5px;	
}

ul > li > a:hover {
  color: #F6BB42 !important;
  background-color: #e7e7e7;
}

.user_dashboard{
	padding: 30px;
	margin: 20px;
}

.tourn-list, h3, a, .btn-default{
  font-family: 'Montserrat', sans-serif;
}

.container > h1{
  font-family: 'Cutive Mono', serif; 
  text-transform: uppercase;
}

#tourney_tourney_type_id {
  background-color: #fff;
  color: #555;
}
#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
} 